.btn.ico1::after {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-left: 13px;
  background: url("../images/ico_down.png") no-repeat center;
  vertical-align: -1px;
}

.btn.normal {
  font-size: 20px;
  line-height: 47px;
  border-radius: 5px;
  padding: 0 30px;
}

.btn.r4 {
  border-radius: 4px;
}

.btn.r8 {
  border-radius: 8px;
}

.btn.red {
  color: #fff;
  background-color: #b50015;
  border: 1px solid #b50015;
  box-sizing: border-box;
}

.btn.white {
  color: #333;
  background-color: #fff;
  border: 1px solid #333;
  box-sizing: border-box;
}

.badge.black {
  color: #333;
  background-color: #333;
}

.badge.gray {
  color: #333;
  background-color: #333;
}

select::-ms-expand {
  display: none;
}

@font-face {
  font-family: "swiper-icons";
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA") format("woff");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color: #007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide,
.swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}
.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

/* Auto Height */
.swiper-autoheight,
.swiper-autoheight .swiper-slide {
  height: auto;
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  backface-visibility: hidden;
}

/* 3D Effects */
.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}
.swiper-3d .swiper-wrapper,
.swiper-3d .swiper-slide,
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom,
.swiper-3d .swiper-cube-shadow {
  transform-style: preserve-3d;
}
.swiper-3d .swiper-slide-shadow,
.swiper-3d .swiper-slide-shadow-left,
.swiper-3d .swiper-slide-shadow-right,
.swiper-3d .swiper-slide-shadow-top,
.swiper-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}
.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}
.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* CSS Mode */
.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}
.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}
.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}
.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  width: var(--swiper-centered-offset-after);
}
.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}
.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  height: var(--swiper-centered-offset-after);
}
.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}

/* Style */
html {
  font-size: 10px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  html {
    font-size: 9px;
  }
}

body {
  font-size: 1rem;
  background-color: #f5f5f5;
}
@media (min-width: 320px) and (max-width: 1023px) {
  body {
    overflow-x: hidden;
  }
}

body.hidden {
  overflow: hidden;
}

body,
a,
button {
  color: #000;
  font-size: 1.3333333333rem;
  font-family: "Noto Sans KR", sans-serif;
}

caption > div,
legend,
.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.align {
  display: flex;
}
.align.both {
  justify-content: space-between;
}
.align.center {
  display: block;
  text-align: center;
}
.align.center > * {
  margin: 0 0.3rem;
}
.align.right {
  justify-content: flex-end;
}
.align.right > * {
  margin-left: 1.2rem;
}
.align.triple {
  display: block;
  position: relative;
  clear: both;
}
.align.triple::after {
  content: "";
  display: block;
  clear: both;
}
.align.triple .left {
  float: left;
}
.align.triple .right {
  float: right;
}
.align.triple .center {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.align.bottom {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.txt__left {
  text-align: left !important;
}
.txt__center {
  text-align: center !important;
}
.txt__right {
  text-align: right !important;
}
.txt__red {
  color: #e41323 !important;
}
.txt__type1 {
  padding: 2.5rem 0;
  text-align: center;
  font-size: 2rem;
}
.txt__ready {
  padding-top: 25rem;
  font-size: 2.9166666667rem;
  font-weight: 500;
  text-align: center;
  background: url("../images/img_info.png") no-repeat center top;
}

input[type=number], input[type=text], input[type=password], input[type=url], input[type=email], input[type=tel], input[type=search], input[type=date] {
  padding-left: 1.3333333333rem;
  height: 3.9166666667rem;
  border-radius: 3.9166666667rem;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1.25rem;
  outline: 0;
  color: #333;
  box-sizing: border-box;
}
input[type=number].full, input[type=text].full, input[type=password].full, input[type=url].full, input[type=email].full, input[type=tel].full, input[type=search].full, input[type=date].full {
  width: 100%;
}
input::placeholder {
  font-size: 1.1666666667rem;
  color: #333;
}
input:focus {
  border-color: #333;
}
input[type=date] {
  background: url("../images/ico_date.png") no-repeat right 1.4166666667rem center;
  background-size: 2rem auto;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 1.3333333333rem;
  height: 3.9166666667rem;
  border-radius: 3.9166666667rem;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1.25rem;
  outline: 0;
  color: #333;
  box-sizing: border-box;
  background: url("../images/bg_select.png") no-repeat right 1.6666666667rem center;
  background-size: 0.9166666667rem auto;
  background-color: #fff;
  padding-right: 3.8333333333rem;
}
select.full {
  width: 100%;
}
select:hover {
  border-color: #333;
}
select.small {
  height: 2.8333333333rem;
  padding: 0 2.6666666667rem 0 1rem;
  border-radius: 2.8333333333rem;
  font-size: 1.0833333333rem;
}

input[type=radio],
input[type=checkbox] {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

input[type=checkbox].type1 + label {
  background: url("../images/ico_check_off.png") no-repeat left center;
  background-size: 1.6666666667rem auto;
  display: inline-block;
  padding-left: 2.25rem;
  line-height: 1.6666666667rem;
  font-size: 1.0833333333rem;
  color: #333;
}
input[type=checkbox].type1:checked + label {
  background: url("../images/ico_check_on.png") no-repeat left center;
  background-size: 1.6666666667rem auto;
}
textarea {
  padding-left: 1.3333333333rem;
  height: 3.9166666667rem;
  border-radius: 3.9166666667rem;
  border: 1px solid #333;
  background-color: #fff;
  font-size: 1.25rem;
  outline: 0;
  color: #333;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
  min-height: 82px;
  resize: none;
  border-radius: 1.3333333333rem;
}
textarea:focus {
  border-color: #333;
}
textarea:disabled {
  border-color: #333;
  color: #333;
}
textarea:disabled::placeholder {
  color: #333;
}

.btn {
  display: inline-block;
}
.btn.full {
  width: 100%;
}
.btn__total {
  background: url("../images/ico_menu.png") no-repeat center center;
  background-size: 3.8333333333rem auto;
  width: 8.5833333333rem;
  height: 8.5833333333rem;
}
.btn__more {
  background: url("../images/ico_more_black.png") no-repeat right;
  background-size: 1.25rem auto;
  display: inline-block;
  padding: 0 1.75rem 0 0;
  font-size: 1.1666666667rem;
  color: #525151;
}
.btn__more.white {
  background: url("../images/ico_more_white.png") no-repeat right;
  color: #fff;
}
.btn__top {
  display: none;
  position: fixed;
  right: 6.6666666667rem;
  bottom: 6.6666666667rem;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  background: #e41323 url("../images/ico_top_arrow.png") no-repeat center center;
  opacity: 0.8;
  transition: all 0.3s;
}
.btn__top > span {
  display: none;
}
.btn__top:hover, .btn__top:focus {
  opacity: 1;
  transition: all 0.3s;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .btn__top {
    right: 3.3333333333rem;
    bottom: 3.3333333333rem;
  }
}

.badge {
  display: inline-block;
  font-size: 0.9166666667rem;
  line-height: 1.5rem;
  padding: 0 0.3333333333rem;
  border-radius: 0.25rem;
}

.m0auto {
  width: 126.8333333333rem;
  margin: 0 auto;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .m0auto {
    width: 100%;
  }
}

.p015 {
  padding: 0 1.25rem;
}

.pt0 {
  padding-top: 0 !important;
}
.pt10 {
  padding-top: 0.8333333333rem !important;
}
.pt3 {
  padding-top: 0.25rem;
}
.pt45 {
  padding-top: 3.75rem;
}
.pt100 {
  padding-top: 8.3333333333rem !important;
}

.mt10 {
  margin-top: 0.8333333333rem;
}
.mt25 {
  margin-top: 2.0833333333rem;
}
.mt30 {
  margin-top: 2.5rem;
}
.mt50 {
  margin-top: 4.1666666667rem;
}
.mt60 {
  margin-top: 5rem;
}
.mt100 {
  margin-top: 8.3333333333rem;
}

.mb0 {
  margin-bottom: 0 !important;
}
.mb20 {
  margin-bottom: 1.6666666667rem !important;
}
.mb50 {
  margin-bottom: 4.1666666667rem !important;
}
.mb100 {
  margin-bottom: 8.3333333333rem !important;
}

.pb0 {
  padding-bottom: 0 !important;
}
.pb10 {
  padding-bottom: 0.8333333333rem !important;
}
.pb50 {
  padding-bottom: 4.1666666667rem !important;
}
.pb100 {
  padding-bottom: 8.3333333333rem !important;
}

.space__type1 {
  padding: 1.8333333333rem 1.3333333333rem;
}

.bgnone {
  background: none;
}

.h2 {
  position: relative;
  font-size: 4.1666666667rem;
  text-align: center;
  padding: 8.3333333333rem 0 2.5rem;
  color: #000;
  letter-spacing: -0.0208333333rem;
}
.h2::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  top: inherit;
  bottom: 0;
  width: 5.8333333333rem;
  border-bottom: 2px solid #e41323;
}
.h2.white {
  color: #fff;
}
.h2.small {
  font-size: 3rem;
}
.h2__type2 {
  position: relative;
  font-size: 5rem;
  text-align: center;
  padding: 1.6666666667rem 0 6.25rem;
  line-height: 1;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .h2__type2 {
    display: none;
  }
}

.h3 {
  font-size: 1.8333333333rem;
  font-weight: 500;
}
.h3::before {
  content: "";
  display: inline-block;
  width: 0.5833333333rem;
  height: 1.5rem;
  background-color: #e41323;
  margin-right: 0.8333333333rem;
}
.h3__sub {
  font-size: 1.1666666667rem;
  color: #919191;
  margin-left: 2.9166666667rem;
}

.box__shadow {
  border: 1px solid #e9e9e9;
  border-radius: 0.8333333333rem;
  box-shadow: 0 0 0.8333333333rem rgba(164, 164, 164, 0.6);
}

.tabs__type1 {
  display: flex;
  border: 1px solid #d8d8d8;
}
.tabs__type1 li {
  flex: 1;
}
.tabs__type1 li button,
.tabs__type1 li a {
  display: block;
  width: 100%;
  height: 5.3333333333rem;
  padding: 1.6666666667rem 0;
  text-align: center;
  font-size: 1.8333333333rem;
  font-weight: 500;
  line-height: 1;
  background-color: #fff;
  box-sizing: border-box;
}
.tabs__type1 li button > .small,
.tabs__type1 li a > .small {
  font-size: 1.5rem;
}
.tabs__type1 li ~ li {
  border-left: 1px solid #d8d8d8;
}
.tabs__type1 li.tabs--active button,
.tabs__type1 li.tabs--active a {
  background-color: #e41323;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .tabs__type1 {
    position: absolute;
    left: 3.3333333333rem;
    display: none;
    z-index: 20;
    width: calc(100% - 6.6666666667rem);
    box-sizing: border-box;
    flex-direction: column;
  }
  .tabs__type1 li {
    border-top: 1px solid #d8d8d8;
  }
  .tabs__type1 li ~ li {
    border-left: none;
  }
  .tabs__type1 li a {
    padding: 2rem 0 !important;
    background-color: #f2f2f2;
  }
  .tabs__type1 li a > br {
    display: none;
  }
  .tabs__type1 li a > .small {
    font-size: 1.8333333333rem;
  }
}
.tabs__type1.fix {
  position: fixed;
  width: 113.3333333333rem;
  top: 0;
  z-index: 10;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .tabs {
    position: relative;
    /* margin-bottom: Rem(-50); */
  }
  .tabs > button {
    background: url("../images/ico_select.png") no-repeat right 3.1666666667rem center;
    background-size: 2.0833333333rem auto;
    background-color: #e41323;
    width: 100%;
    height: 5.8333333333rem;
    color: #fff;
    font-size: 2.0833333333rem;
  }
  .tabs > button.active {
    background: url("../images/ico_select_active.png") no-repeat right 3.1666666667rem center;
    background-size: 2.0833333333rem auto;
    background-color: #e41323;
  }
}

.subNav__type1 {
  display: flex;
  width: 100%;
  margin: 3.3333333333rem 0 8.3333333333rem;
  border-bottom: 1px solid #d8d8d8;
}
.subNav__type1 li a {
  display: inline-block;
  padding: 0 2.5rem 1.6666666667rem 2.5rem;
  font-size: 1.8333333333rem;
  font-weight: 500;
}
.subNav__type1 li.subNav--active button,
.subNav__type1 li.subNav--active a {
  color: #e41323;
  border-bottom: solid 1.5px #e41323;
}
.subNav__type2 {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 7.5rem;
}
.subNav__type2 li {
  margin: 0.8333333333rem 0.4166666667rem;
}
.subNav__type2 li a {
  display: inline-block;
  padding: 0.4166666667rem 1.6666666667rem;
  font-size: 1.5rem;
  font-weight: 400;
  border-radius: 5rem;
  background: #fff;
  border: solid 1px #d8d8d8;
}
.subNav__type2 li.subNav--active button,
.subNav__type2 li.subNav--active a {
  color: #e41323;
  border-color: #e41323;
}

.list__type1 li {
  font-size: 1.5rem;
  display: flex;
  padding: 1.6666666667rem 0;
  color: #2f2f2f;
}
.list__type1 li strong {
  width: 10rem;
  font-weight: 500;
}
.list__type1 li strong::before {
  content: "";
  display: inline-block;
  width: 0.5833333333rem;
  height: 0.5833333333rem;
  background-color: #e41323;
  margin-right: 0.8333333333rem;
  border-radius: 100%;
  vertical-align: 2px;
}
.list__type2 {
  display: flex;
  flex-wrap: wrap;
  width: 78.3333333333rem;
  margin: 0 auto 5rem;
}
.list__type2 > li {
  width: calc(50% - 0.5rem);
  padding: 1.6666666667rem 0;
  border-radius: 0.4166666667rem;
  background-color: #e41323;
  text-indent: 2.9166666667rem;
  font-size: 1.8333333333rem;
  color: #fff;
  margin-bottom: 1.25rem;
  letter-spacing: -0.025rem;
}
.list__type2 > li:nth-child(odd) {
  margin-right: 0.5rem;
}
.list__type2 > li:nth-child(even) {
  margin-left: 0.5rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .list__type2 {
    width: 100%;
  }
  .list__type2 > li {
    font-size: 1.25rem;
    text-indent: 0;
    padding: 0.8333333333rem;
    box-sizing: border-box;
  }
}
.list__history {
  position: relative;
  font-size: 1.5rem;
}
.list__history::after {
  position: absolute;
  left: 6.6666666667rem;
  top: 2.0833333333rem;
  content: "";
  height: calc(100% - 3.9166666667rem);
  border-right: 1px solid #e41323;
}
.list__history > li {
  display: flex;
  position: relative;
  padding: 1.6666666667rem 0;
}
.list__history > li::before {
  position: absolute;
  left: 6rem;
  top: 2.0833333333rem;
  content: "";
  z-index: 10;
  width: 1.4166666667rem;
  height: 1.4166666667rem;
  border: 3px solid #fff;
  outline: 1px solid #e41323;
  background-color: #e41323;
  border-radius: 100%;
  box-sizing: border-box;
}
.list__history > li > strong {
  width: 9.5833333333rem;
}
.list__history > li > ul {
  flex: 1;
  color: #2f2f2f;
}
.list__license {
  display: flex;
  justify-content: space-between;
}
.list__license li {
  text-align: center;
  padding: 0 0.8333333333rem;
}
.list__license li img {
  width: 100%;
}
.list__license li p {
  font-size: 1.3333333333rem;
  color: #737373;
}
.list__license .h3 {
  display: block;
  font-size: 1.5rem;
  padding: 2.5rem 0 1.6666666667rem !important;
}
.list__license .box__shadow {
  border-radius: 0;
  height: auto !important;
  padding: 0 !important;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .list__license {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .list__license li {
    width: calc(50% - 1.25rem);
    padding-bottom: 5.8333333333rem;
  }
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  border-bottom: 1px solid rgba(255, 255, 255, 0.11);
}
.header > .inr {
  display: flex;
  justify-content: space-between;
  padding: 0 6.6666666667rem;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .header > .inr {
    padding: 0 1.3333333333rem;
  }
}
.header > .inr > h1 {
  margin: 0;
}
.header.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: calc(100% - 8.5833333333rem);
  background-color: #fff;
  z-index: -1;
}
.header.active .gnb > ul > li > ul {
  display: block;
}

.mega {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
}
.mega .txt__right {
  padding: 0 0 1.8333333333rem;
}
.mega .txt__right button {
  background: url("../images/btn_close.png") no-repeat center center;
  width: 3.75rem;
  height: 3.75rem;
  border: 1px solid #e9e9e9;
}
.mega > div {
  display: flex;
  width: 60.9166666667rem;
  height: 100vh;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mega > div {
    width: 100%;
    padding: 1.6666666667rem;
    box-sizing: border-box;
  }
}
.mega > div > ul {
  border-top: 1px solid #d8d8d8;
}
.mega > div > ul > li {
  display: flex;
  line-height: 7.9166666667rem;
}
.mega > div > ul > li > span {
  width: 20.8333333333rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}
.mega > div > ul > li > span::before {
  content: "";
  display: inline-block;
  width: 0.5rem;
  height: 1.8333333333rem;
  margin-right: 1.4166666667rem;
  background-color: #e41323;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mega > div > ul > li {
    flex-direction: column;
  }
  .mega > div > ul > li > span {
    width: 100%;
    display: block;
    font-size: 1.6666666667rem;
    line-height: 1;
    padding: 1.6666666667rem 0 0.8333333333rem;
  }
  .mega > div > ul > li > span::before {
    vertical-align: -2px;
  }
}
.mega > div > ul > li > ul {
  display: flex;
  flex: 1;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mega > div > ul > li > ul {
    padding: 0.8333333333rem 0 1.6666666667rem;
  }
}
.mega > div > ul > li > ul a {
  display: block;
  line-height: 7.9166666667rem;
  font-size: 1.6666666667rem;
  color: #373737;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .mega > div > ul > li > ul a {
    line-height: 1;
  }
}
.mega > div > ul > li > ul > li ~ li {
  margin-left: 1.6666666667rem;
}
.mega > div > ul > li + li {
  border-top: 1px solid #e9e9e9;
}

.onlym {
  display: none;
}
.onlym2 {
  display: none;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .onlym {
    display: block;
  }
  .onlym2 {
    display: inline-block;
  }
}

.onlyw {
  display: block;
}
.onlyw2 {
  display: inline-block;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .onlyw {
    display: none;
  }
  .onlyw2 {
    display: none;
  }
}

h1 a {
  background: url("../images/h1_logo.png") no-repeat 0 center;
  background-size: 100% auto;
  background-image: url("../images/h1_logo.svg");
  display: block;
  width: 10rem;
  height: 8.5833333333rem;
}

.gnb {
  width: calc(100% - 22.3rem);
  max-width: 113.3333333333rem;
}
.gnb > ul {
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .gnb > ul {
    display: none;
  }
}
.gnb > ul > li {
  text-align: center;
}
.gnb > ul > li > a {
  display: block;
  padding: 0 6.6666666667rem;
  line-height: 8.5833333333rem;
  font-size: 1.6666666667rem;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
}
.gnb > ul > li > a span {
  position: relative;
}
.gnb > ul > li > a span::after {
  content: "";
  position: absolute;
  left: 0;
  width: 0;
  bottom: -1.6666666667rem;
  height: 0.3333333333rem;
  background-color: #e41323;
  transition: width 0.3s;
}
@media all and (max-width: 1400px) {
  .gnb > ul > li > a {
    padding: 0 2.5rem;
  }
}
.gnb > ul > li > ul {
  display: none;
  padding: 1.6666666667rem 0.8333333333rem;
}
.gnb > ul > li > ul > li {
  text-align: center;
}
.gnb > ul > li > ul > li > a {
  display: inline-block;
  line-height: 2.9166666667rem;
  transition: color 0.3s;
  font-weight: 400;
  font-size: 1.4166666667rem;
}
.gnb > ul > li > ul > li > a:hover {
  color: #e41323;
}
.gnb > ul > li > ul > li > .depth2 {
  display: none;
}
.gnb > ul > li > ul > li > .depth2 > li > a {
  display: inline-block;
  font-size: 1.25rem;
  color: #8c8c8c;
}
.gnb > ul > li > ul > li > .depth2 > li > a:hover, .gnb > ul > li > ul > li > .depth2 > li > a:focus {
  text-decoration: underline;
}
.gnb > ul > li > ul > li.arr > a {
  padding-right: 2.5rem;
  background: url("../images/ico_gnb_arrow.png") no-repeat right center;
  transition: all 0.2s;
  background-size: 1.5rem;
}
.gnb > ul > li > ul > li.arr.active > a {
  color: #e41323;
  background-image: url("../images/ico_gnb_arrow_active.png");
  transition: all 0.2s;
}
.gnb > ul > li:hover span::after {
  width: 100%;
}
.gnb > ul:last-child {
  text-align: right;
}

@media (min-width: 320px) and (max-width: 1023px) {
  .location {
    margin: 0 0 2.5rem;
  }
}
.location ul {
  display: flex;
  align-items: center;
  font-size: 1.3333333333rem;
  color: #626262;
}
.location ul li {
  padding: 0 0.8333333333rem 0 0;
}
.location ul li:nth-child(1) a {
  background: url("../images/ico_home.png") no-repeat 0 0;
  background-size: 100% auto;
  display: block;
  width: 1.25rem;
  height: 1.25rem;
}
.location ul li ~ li:not(:nth-child(2))::before {
  content: ">";
  margin-right: 0.8333333333rem;
}

.footer {
  background-color: #121212;
  color: #a4a4a4;
}
.footer .inr {
  padding: 3.75rem 6.6666666667rem 5rem;
}
.footer img {
  width: 9.8333333333rem;
}
.footer ul {
  vertical-align: middle;
  display: inline-block;
  padding: 0 0 0 7.5rem;
}
.footer ul span {
  color: #fff;
}
.footer__copy {
  margin: 2.5rem 0 0;
  padding: 2.5rem 0 0 17.5rem;
  border-top: 1px solid #323232;
}
.footer__copy a {
  color: #fff;
  vertical-align: -1px;
}
@media (min-width: 320px) and (max-width: 1023px) {
  .footer .inr {
    padding: 3.75rem 1.3333333333rem 5rem;
  }
  .footer ul {
    display: block;
    padding: 0;
  }
  .footer ul li {
    padding: 2.9166666667rem 0 0;
  }
  .footer ul span {
    display: block;
  }
  .footer__copy {
    width: calc(100% + 6.6666666667rem);
    margin-left: -3.3333333333rem;
    padding: 2.5rem 3.3333333333rem 0;
    box-sizing: border-box;
  }
  .footer__copy a {
    display: block;
  }
  .footer__copy br {
    display: none;
  }
}